# List of stations for PiRDO
[DEFAULT]
A=http://bbcmedia.ic.llnwd.net/stream/bbcmedia_radio4fm_mf_p
B=http://bbcmedia.ic.llnwd.net/stream/bbcmedia_radio4lw_mf_p
C=http://bbcmedia.ic.llnwd.net/stream/bbcmedia_radio3_mf_p
D=http://bbcwssc.ic.llnwd.net/stream/bbcwssc_mp1_ws-eieuk
E=http://bbcmedia.ic.llnwd.net/stream/bbcmedia_scotlandfm_mf_p

[SW2A]
#A=
#B=
#C=
#D=
#E=

[SW2B]
#A=
#B=
#C=
#D=
#E=

[SW2C]
#A=
#B=
#C=
#D=
#E=

[SW2D]
#A=
#B=
#C=
#D=
#E=

[SW2E]
#A=
#B=
#C=
#D=
#E=
